extends part/大屏管理.pug

append vars
  - var subtitle = "情报展示"

append style
  link(rel="stylesheet", href="style/大屏管理-情报展示.css")

block page
  +filter(title + '-' + subtitle)
  +contlist(title + '-' + subtitle)

block pagefoot
  +pagenum()