extends part/大屏管理.pug

append vars
  - var subtitle = "报告展示"

append style
  link(rel="stylesheet", href="style/大屏管理-报告展示.css")

block page
  .m-filter-report
    .line
      .label 报告来源
      .m-dropdown
        button.btn
          .text 情报分析员
          img.ico(src="image/basic-drop-arrow.png")
        .list
          .item 情报分析员
          .item 情报专家
          .item 业余人员
      .label 报告时间
      input.datetime(type="text")
      .split
      input.datetime(type="text")
    .line
      .label 报告类型
      .m-dropdown
        button.btn
          .text 情报分析员
          img.ico(src="image/basic-drop-arrow.png")
        .list
          .item 情报分析员
          .item 情报专家
          .item 业余人员
      .btn 确定