extends part/情报管理.pug

append style
    link(rel="stylesheet", href="style/情报库.css")

append vars
    - var subtitle = "情报详情"

block content
    .m-subcont
        .dir 当前位置：#{title} > #{subtitle}
        .conten-detail
            .title 原始情报 
                label
                    input(type="checkbox")
                    .img
                    .fo 收藏情报
            p 
                label 标题：
                label.info Peixian to celebrate the "38" International Women's festival awards
            p
                label 情报来源：
                label.info BBC Chinese Web
                label.title 类型 
                label.info statuete
                label.title 国别：
                label.info China
            p 
                label 检测时间：
                label.info 2017-03-07 14:37:00
            p
                label 原文连接：
                label.info http://www.xici.net/d238177928.htm
                label.copy.copyUrl 复制链接
                label.copy.copyText 复制文本 
            p.info   County leaders Zhang Lei, Liu Huadong, Xu Longbin, Wang Suzhen, county women's FederationPresident Susasa, education secretary He Lei, county propaganda department vice minister Hu 
        .split
        .conten-detail.bot115
            .title 翻译情报
            p 
                label 标题：
                label.info 沛县庆祝“三八”国际劳动妇女节暨表彰大会举行
            p
                label 情报来源：
                label.info BBC中文网
                label.title 类型 
                label.info 法规
                label.title 国别：
                label.info 中国
            p 
                label 检测时间：
                label.info 2017-03-07 14:37:00
            p
                label 原文连接：
                label.info http://www.xici.net/d238177928.htm
                label.copy.copyUrl 复制链接
                label.copy.copyText 复制文本 
            p.info   沛县庆祝“三八”国际劳动妇女节暨表彰大会于三月七日在县职教中心礼堂举行。县领导张磊、刘华东、徐龙彬、王素真，县妇联主席苏莎莎、教育局局长贺磊、县委宣传部常务副部长胡红侠、妇联副主席张素华及社会各界的妇女代表、受表彰的团体和个人、爱心志愿者600多人出席了会议。

