extends part/情报管理.pug

append style
  link(rel="stylesheet", href="style/情报管理-情报查看.css")

append script
  script(src="script/情报管理-情报查看.js")

append vars
  - var subtitle = "情报查看"

block content
  .m-subcont
    .dir 当前位置：#{title} > #{subtitle}
    +filter('情报管理-情报查看')
    .m-contlist.list
      - var i = 0
      while i ++< 8
        .item
          .head
            label.m-cb
              input(type="checkbox", class="listitemcb")
              .img
            .title #{i}.<a href="情报管理-情报详情.html">国家海洋预报台:"苗柏"最大可能登陆地点是香港</a>
            .time 2017-04-07 14:37:00
          .body
            .ch-abs
              label 中文摘要 : 
              .cont 国家海洋预报台发布：今年第2号台风“苗柏”今天中午已加强为强热带风暴级，15时其位于距离广东省深圳市偏南方向165公里的南海北部海面上。预计“苗柏”将于今天前半夜在珠江口以东沿海登陆，多家预报机构都显示，最大可能登陆地点就是香港！
            .en-abs
              label 英文摘要 :
              .cont National Typhoon Forecast: Typhoon No. second this year has been strengthened as a tropical storm at noon today. At 15, it is located on the North Sea of the South China Sea, 165 kilometers south of Guangdong City, Shenzhen province. It is expected that the plant will land in the coastal waters east of the Pearl  ... 
          .foot 
            .left-info
              label 来源 :
                .cont BBC中文网
              label 国别 :
                .cont 英国
              label 类别 :
                .w-dropdown
                  button.btn 
                    .text 请选择情报类别
                    img.ico(src="image/qingbao-drop.png")
                  .list
                    .item 法规
                    .item 标准
                    .item 技术
                    .item 威胁
                    .item 新闻事件
              label 研判人 :
                .cont 无
              label 状态 :
                .cont.edit 未编辑
            .right-info
              label.checkbox
                input(type='checkbox' class='collect')
                .img.collect
                .cont 收藏至情报库
              label
                input(type='checkbox' class='delete')
                .img.delete
                .cont 删除
                
                          
  +pagenum()
