doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    append style
        link(rel="stylesheet", href="style/basic.css")
    body
        .login
            div
                .title GB信息管理平台
                .admin
                    input(placeholder="请输入用户名")
                .pass-word
                    input(placeholder="请输入密码")
                .Vercode
                    label
                        input(placeholder="请输入验证码")
                    label
                    a(href="javascript:;") 看不清换一张
                .mind
                    label
                        input(type="checkbox")
                        .img
                        .tt 记住我的信息
                .btn 登录
