include func.pug
block vars
doctype html
html(lang="zh")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 保密情报信息管理平台 | #{title}
    link(rel="stylesheet", href="lib/flatpickr.min.css")
    link(rel="stylesheet", href="lib/confirmDate.css")
    link(rel="stylesheet", href="lib/themes/airbnb.css")
    link(rel="stylesheet", href="style/basic.css")
    block style
  body
    .m-head
      .logo
        img(src="image/logo.png", draggable="false")
        img(src="image/basic-head-logo.png", draggable="false")
      .search
        .m-dropdown.select
          button
            img.ico(src="image/basic-drop-arrow.png")
            .text 情报库
          .list
            .item 情报库
            .item 全网
        input(type="text", placeholder="请输入情报内容...")
        .searchbtn
      .user
        .welcome 欢迎登陆，
        .m-dropdown.menu
          button
            .text 情报分析员
            img.ico(src="image/basic-drop-arrow-o.png")
          .list
            .item(onmousedown="location.href='登录.html'") 退出登录
    .m-lnav
      a.item(class={
          active: title == '情报管理',
          expand: ['情报查看', '情报录入'].includes(subtitle)
        }, href="情报管理-情报查看.html")
        .icon.qbgl
        .text 情报管理
      .list
        a.item(class={active: subtitle == '情报查看'}, href="情报管理-情报查看.html") 情报查看
        a.item(class={active: subtitle == '情报录入'}, href="情报管理-情报录入.html") 情报录入
      a.item(class={
          active: title == '情报库',
          expand: ['未编辑', '已编辑', '已录入', '已翻译'].includes(subtitle)
        }, href="情报库-未编辑.html")
        .icon.qbk
        .text 情报库
      .list
        a.item(class={active: subtitle == '未编辑'}, href="情报库-未编辑.html") 未编辑
        a.item(class={active: subtitle == '已编辑'}, href="情报库-已编辑.html") 已编辑
        //- a.item(class={active: subtitle == '已录入'}, href="情报库-已录入.html") 已录入
        a.item(class={active: subtitle == '已翻译'}, href="情报库-已翻译.html") 已翻译
      a.item(class={
          active: title == '情报审批',
          expand: ['已提交', '已审批', '已驳回',].includes(subtitle)
        }, href="情报审批-已提交.html")
        .icon.qbsp
        .text 情报审批
      .list
        a.item(class={active: subtitle == '已提交'}, href="情报审批-已提交.html") 已提交
        a.item(class={active: subtitle == '已审批'}, href="情报审批-已审批.html") 已审批
        a.item(class={active: subtitle == '已驳回'}, href="情报审批-已驳回.html") 已驳回
      a.item(class={
          active: title == '报告提交',
          expand: ['撰写报告', '参考情报库', '报告状态',].includes(subtitle)
        }, href="报告提交-撰写报告.html")
        .icon.bgtj
        .text 报告提交
      .list
        a.item(class={active: subtitle == '撰写报告'}, href="报告提交-撰写报告.html") 撰写报告
        a.item(class={active: subtitle == '参考情报库'}, href="报告提交-参考情报库.html") 参考情报库
        a.item(class={active: subtitle == '报告状态'}, href="报告提交-报告状态.html") 报告状态
      a.item(class={
          active: title == '大屏管理',
          expand: ['情报展示', '专题展示', '报告展示'].includes(subtitle)
        }, href="大屏管理-情报展示-展示.html")
        .icon.dpgl
        .text 大屏管理
      .list
        a.item(class={active: subtitle == '情报展示'}, href="大屏管理-情报展示-展示.html") 情报展示
        a.item(class={active: subtitle == '专题展示'}, href="大屏管理-专题展示-展示.html") 专题展示
        a.item(class={active: subtitle == '报告展示'}, href="大屏管理-报告展示-展示.html") 报告展示
    .m-cont
      block content
    .bomb
      div
        div.title 删除提示
          i.close ×
        div.body 确定要删除情报?
        div.btn 
          div.cancel 取消
          div.success 确定
    .bomp-password
      div.info
        div.title 修改密码
          i.close ×
        div.body.password
          ul
            li
              label 账户名称:
              label admin
            li
              label 旧密码:
              input(placeholder="请输入旧密码")
            li
              label 新密码:
              input(placeholder="请输入新密码")
            li
              label 确认密码:
              input(placeholder="请输入新密码")
        div.btn 
          div.cancel 取消
          div.success 确定           
    block tpl
    script(src="lib/jquery.min.js")
    script(src="lib/flatpickr.min.js")
    script(src="lib/confirmDate.js")
    script(src="lib/l10n/zh.js")
    script(src="script/basic.js")
    block script