extends basic.pug

append vars
  - var title = "大屏管理"
  - var subtitle = "专题展示"

block content
  .m-subnav
    each s in ['展示', '未展示']
      a.item(href=`大屏管理-专题详情-${s}.html`, class={active: sstitle == s})= s
  .m-subcont
    .dir 当前位置：#{title} > 专题详情 > #{sstitle}
    .zt-title 
      label 专题详情:
      p 沛县庆祝“三八”国际劳动妇女节暨表彰大会举行
    .zt-info 
      label 专题简介:
      p.zt 沛县庆祝“三八”国际劳动妇女节暨表彰大会举行沛县庆祝“三八”国际劳动妇女节暨表彰大会举行县庆祝“三八”国际劳动妇女节暨表彰大会举行县庆祝“三八”国际劳动妇女节暨表彰大会举行
      a(href="javascript:;") 点击查看更多
    +filter('大屏管理-情报展示')
    +contlist('大屏管理-情报展示')
  .m-showbtn= sstitle == "展示" ? "取消展示" : "展示" 
  +pagenum()

