extends basic.pug

append vars
  - var title = "大屏管理"
  - var subtitle = "情报展示"

append style
  link(rel="stylesheet", href="style/大屏管理-情报展示.css")

block content
  .m-subnav
    each s in ['展示', '未展示']
      a.item(href=`大屏管理-情报展示-${s}.html`, class={active: sstitle == s})= s
  .m-subcont
    .dir 当前位置：#{title} > #{subtitle} > #{sstitle}
    +filter(title + '-' + subtitle)
    +contlist(title + '-' + subtitle)
  +pagenum()

