.m-filter-report
  margin 0 34px 6px
  border 1px solid #c9cfd5
  >.line
    height 52px
    padding 14px 42px 14px 10px
    box-sizing border-box
    border-bottom @border
    line-height 23px
    &:last-child
      border-bottom 0
    >.m-dropdown
      display inline-block
      vertical-align bottom
      margin-right 20px
      .btn
        min-width 78px
        border 1px solid #c1c3c4
        background transparent
        border-radius 3px
        height 22px
        box-sizing border-box
        padding 0 10px
        vertical-align bottom
        color #959ca3
        line-height 20px
        text-align center
        cursor pointer
      >button>.ico
        margin-left 5px
        vertical-align 2px
        filter grayscale(1)
      >.list
        top 28px
    >div
    >input
      display inline-block
    >input
      border-radius 3px
      outline none
      border 1px solid #c8ced9
      height 24px
      padding 0 10px
      box-sizing border-box
      width 120px
      margin 0 6px
      color #a6abb3
      font-size 12px
    >.label
      margin-right 12px
    >.split
      height 1px
      width 20px
      background #c1c3c4
      vertical-align middle
    >.btn
      width 80px
      height 24px
      background #4188d8
      line-height @height
      border-radius 3px
      text-align center
      cursor pointer
      color #ffffff