.m-subcont
  min-height 709px
.b-content
  box-sizing border-box
  padding 0 34px
.base
  width 100%
  border-collapse collapse
  table-layout fixed
  tr
    height 36px
    line-height 36px
    border-bottom 1px solid #dbe0e4 
    th
      font-size 14px
      color #323131
      font-weight normal
    td
      text-align center
      font-size 12px
      color #5e5e5e
      label
        vertical-align: top;
      a 
        text-decoration none
        display inline-block
        padding 0 5px
        color #4188d8
        cursor pointer
        &.delete
          color red
      &:first-child
        text-align left
        padding-left 5px
      span
        display inline-block
        height 36px
        line-height 36px
        max-width 250px
        white-space:nowrap;  
        overflow hidden
        vertical-align: top;
        text-overflow:ellipsis;

    &:last-child
      border none
//编辑
::-webkit-input-placeholder
  font-size 12px
  color #909499
.info-edit
  padding 0 40px
  ul
    padding 0
    li
      list-style none
      margin-bottom 31px
      font-size 0
      input
        outline none
        height 36px
        padding 0 8px
        border 1px solid #c1c3c4
        border-radius 3px
        width 160px
        box-sizing border-box
        color #909499
      .l-input
        width 635px
      .m-input
        width 391px
      .s-input
        width 160px
      .e-title 
        display inline-block
        width 75px
        font-size 14px
        color #696969
      .s-title
        text-align center
        width 71px
      .t-title
        text-align center
        width 84px
      textarea
        outline none
        vertical-align top
        box-sizing border-box
        color #909499
        width 635px
        height 186px
        padding 12px 
        border-radius 3px
        border 1px solid #c1c3c4
      .e-remarks
        height 126px
.operate
  width 635px
  text-align right
  font-size 0
  transform translateX(75px)
  div
    display inline-block
    font-size 14px
    height 36px
    width 140px
    border-radius 3px
    text-align center
    line-height 36px
    margin-bottom 40px
    cursor pointer
  .rest
    border 1px solid #4188d8
    color #4188d8
    margin-right 20px
  .success
    background #4188d8
    color #fff
.c-url
  display inline-block
  width 80px
  height 24px
  color #fff
  font-size 12px
  background #5cc86a
  text-align center
  line-height 24px
  vertical-align moddle
  margin-left 20px
  border-radius 3px
  cursor pointer
.c-text
  background #4188d8
.start
  font-family 'MicrosoftYaHei'
  padding 0 300px 0 42px
  position relative
  .collect
    position absolute
    right 44px
    top 5px 
    width 90px
    height 30px
    line-height 30px
    border-radius 3px
    border 1px solid #d9d9d9
    text-align center
    cursor pointer
    i
      display inline-block
      width 15px
      height 12px
      background url(../image/nocollect.png)
      vertical-align: middle;
      margin-top: -3px;
      margin-right 10px
    span
      display inline-block
      vertical-align middle
      margin-top -3px
    &.active>i
      background url(../image/collect.png)

  h1
    font-size 18px
    color #2c2f32
    padding 0
    margin 0
    margin-top 10px
    font-weight 200
  ul
    padding 0
    margin 0
    li
      list-style none
      margin-top 20px
      .title
        font-size 14px
        color #696969
        margin-right 10px
        &.s-title
          margin-left 38px
      .body
        font-size 14px
        color #909499
      .desc
        font-size 14px
        color #696969
        line-height 30px
  .line
    margin 25px 0 18px
    border-bottom 2px dashed #d9dce0
.compose
  padding 10px 42px 40px
  ul
    margin 0
    li
      list-style none
      font-size 0
      margin-bottom 30px
      >.m-dropdown
        display inline-block
        vertical-align bottom
      .btn
        min-width 180px
        border 1px solid #c1c3c4
        background transparent
        border-radius 3px
        height 36px
        box-sizing border-box
        padding 0 10px
        vertical-align bottom
        color #959ca3
        line-height 36px
        text-align center
        cursor pointer
        >.text
          width 140px  
      >button>.ico
        margin-left 5px
        vertical-align 2px
        filter grayscale(1)
      .list
        top 38px
      .title
        display inline-block
        font-size 14px
        color #696969
        width 85px
        height 36px
        line-height 36px
        &.s-title
          margin-left 180px
      input
        outline none
        box-sizing border-box
        padding 0 10px
        height 36px
        line-height 36px
        border-radius 3px
        border 1px solid #c1c3c4
        font-size 12px
        color #909499
        &.l-input
          width 625px
        &.s-input
          width 180px
      textarea
        width 626px
        height 160px
        vertical-align top
        border-radius 3px
        border 1px solid #c1c3c4
        box-sizing border-box
.consult
  padding 0 41px
  table
    width 100%
    border-collapse collapse
    tr
      height 36px
      border-bottom 1px solid #dbe0e4 
      th
        font-size 14px
        color #323131
        font-weight normal
      td
        text-align center
        font-size 12px
        color #5e5e5e
        label
          vertical-align: top;
        a 
          text-decoration none
          display inline-block
          padding 0 5px
          color #4188d8
          cursor pointer
          &.delete
            color red
.admin-info
  margin-top 43px
  ul
    list-style none
    li
      font-size 14px
      margin-bottom 30px
      height 24px
      line-height 24px
      label:nth-child(1)
        color #696969
      label:nth-child(2)
        color #909499
        position relative
      >.password
        position: absolute
        top 4px
      >.btn
        color #ffffff
        background #5cc86a
        height 24px
        line-height 24px
        font-size 12px
        width 80px
        text-align center
        display inline-block
        margin-left 30px
        


    

      