.distrib 
  display none
.m-subcont
    min-height 709px
    padding-top 25px
.consult
  margin-top 50px
  margin-left 60px
  .userInfo
    list-style none
    li
      height 36px
      line-height 36px
      margin-bottom 30px
      label:nth-child(1) 
        width 65px
        text-align left
        display inline-block
      label.prompt
        color red
        display none
        margin-left 15px
      label.prompt.nu
        display inline-block
      input[type="text"]
        height 36px
        line-height 36px
        border-radius 3px
        outline  none
        box-sizing border-box
        padding 0 10px
        border 1px solid #c1c3c4
        font-size 12px
        color #909499
        width 260px
      input.nu
        border-color red
    .typelist
      width 550px
      label
        float left
        height 100px
        line-height 40px
      .btn
        width 130px
        display inline-block
        cursor pointer
        height 36px
        input[type="radio"]
          vertical-align middle
        span
          line-height 36px
          display inline-block
          vertical-align middle
  .saveBtn
    margin-top 100px
    margin-left 70px
    button
      width 140px
      height 36px
      line-height 36px
      text-align center
      color #ffffff
      border none
      box-sizing border-box
      cursor pointer
      border-radius 3px
      margin-right 15px
      outline none
    .save
      background #4188d8
      color #ffffff
    .ret
      background #ffffff
      color #000000
      border 1px solid #c1c3c4
.base
  width:96%
  border-collapse collapse
  table-layout fixed
  border 1px solid #dbe0e4
  margin-left 2%
.base tr 
  height 36px
  line-height 36px
  border-bottom 1px solid #dbe0e4
.base tr td
  text-align center
  font-size 12px
  color #5e5e5e
.base tr td a
  color #4188d8
  text-decoration none
.base tr td a:nth-child(2)
  margin-left 15px
  color red
.mlist
  display block
.change
  display none
.consult .chan
  margin-top 50px
.u-pagenums
  margin-top 30px
  margin-left 2%
  .btn
    float left
    width 60px
    height 30px
    line-height 30px
    text-align center
    border 1px solid #dbe0e4
    cursor pointer
  .item
    width 30px
    height 30px
    line-height 30px
    text-align center
    float left
    border 1px solid #dbe0e4
    border-left none
    cursor pointer
  .item:last-child
    border-right none
  .item.active
    background #337fd5
    color #fff
  .cur
    height 30px
    line-height 30px
    margin-left 10px
    float left
  input
    width 20px
    margin-left 5px
    margin-right 2px
  span
    display inline-block







